@font-face {
    font-family: 'Instagram';
    src: url('../fonts/instagram.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.instagram-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
}

.instagram-container>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-container>img{
    display: none;
}

.instagram-login-form{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    align-items: center;
}

.instagram-login-form>h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Instagram';
    margin-bottom: 2rem;
}

.instagram-login-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    background-color: transparent;
    border: 1px solid #ccc;
    margin: 0.3rem;
    padding: 0.8rem;
    border-radius: 0.3rem;
    width: 100%;
}

input[type=submit]{
    background-color: #0095f666;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
}

.other{
    display: flex;
    flex-direction: row;
    color: #999;
    margin: 0.5rem;
    width: 100%;
    align-items: center;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.other span{
    margin: 0 1rem;
}

.instagram-other{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-other a{
    margin: 0.6rem;
    color: #385185;
    font-weight: 500;
}

.instagram-other a>img{
    margin-right: 0.3rem;
    width: 15px;
    height: 15px;
}

.instagram-other a:nth-child(2){
    color: #555;
    font-size: 0.9rem;
    font-weight: 400;
}

.create-account{
    margin-top: 1rem;
    flex-direction: row!important;
    justify-content: center;
}
.create-account a{
    flex-direction: row!important;
    margin-left: .5rem;
    color: #0095f6;
    font-weight: 500;
}

.instagram-apk{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.instagram-apk>div{
    display: flex;
    justify-content: center;
}

.instagram-apk>div img{
    width: 140px;
    margin: 1.2rem 0.3rem;
}

footer{
    color: #999;
}

footer>div{
    padding-bottom: 1rem;
    text-align: center;
    margin: 0 1rem;
}
footer span{
    margin: 0.5rem;
}

@media screen and (min-width: 768px) {
    .instagram-container{
        width: 70%;
        margin: 2rem auto;
    }
    .instagram-container>img{
        display: block;
        width: 250px;
        margin-right: 1rem;
    }
    .instagram-container>div{
        width: 50%;
    }

    .instagram-container section{
        border: 1px solid #ccc;
        padding: 1.5rem 2rem;
    }
    
}